/* App.css */
.App {
  background-image: url('fond.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Dark background with transparency for better readability */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Dark shadow */
  text-align: center;
}
